{
  "manifest_version": 3,
  "name": "cepm helper",
  "version": "{{.Version}}",
  "description": "Reloads unpacked extensions managed by cepm. Do not remove.",
  "key": "{{.Key}}",
  "permissions": ["management", "nativeMessaging", "alarms"],
  "background": { "service_worker": "background.js" }
}
